@using Utilities
@{
    ViewData["Title"] = "Home Page";
   }
<form asp-action="Save" method="post">
    <div class="text-center">
        <h1 class="display-4">Please select a country</h1>
    </div>
    <div class="auto-complete"
         data-bind="countryId"
         data-options='@ViewBag.CountryJson'>
    </div>
    <input type="hidden" id="countryId" name="id" />
    <button type="submit">Submit</button>
</form>
