@using Utilities
@{
    ViewData["Title"] = "Home Page";
    var countries = new Country[]{
        new Country
        {
            id = 1,
            name = "United States"
        },
        new Country
        {
            id = 2,
            name = "United Kingdom"
        }
    };
    var countryJson = countries.ToJson();
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
</div>
<input id="myInput"/>
<div class="auto-complete" 
     data-bind="myInput" 
     data-options='@countryJson' >
</div>
